/*   font:  font-family: "Shrikhand", serif;, sans-serif;  font-family: "Roboto", sans-serif;  */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Shrikhand&display=swap');

.none {
	display: none !important;
}

/*   couleur et padding ext   */
:root {
	--base-text-color: #29078d;
	--base-border-radius: 16px;
}

* {
	padding: 0;
	margin: 0;
	font-family: "Roboto", sans-serif;
	color: var(--base-text-color);
	text-decoration: none;
}

h1 {
	font-size: 64px;
	padding-bottom: 24px;
	font-family: "Roboto", sans-serif;
}

button {
	border: none;
}

button:hover {
	cursor: pointer;
}

body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: stretch;
	gap: 40px;
}

header {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding: 20px 32px;
	background-color: #dba124;
	box-shadow: 0px 0px 30px 10px #c89321;
	min-height: 45px;
}

.infoGame {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	font-size: 24px;
}

#infotext {
	margin: 0px 16px;
}

form {
	display: flex;
	align-items: stretch;
	justify-content: center;
	gap: 12px;
}

input {
	border: none;
}

.INPnum {
	color: black;
	font-weight: 700;
	font-size: 12px;
	padding: 2px 4px;
	border-radius: 6px;
	border-color: rgb(0, 0, 0);
	border: 1.5px solid black;
}

.INPtext {
	border: 2.5px solid black;
	color: black;
	font-weight: 700;
	font-size: 20px;
	padding: 2px 4px;
	border-radius: 6px;
}

.INPtext::after {
	border-color: rgb(255, 255, 255);
}

.INPtext:hover {
	border-color: rgb(150, 150, 150);
}

label {
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: space-between;
	font-size: 12px;
	font-weight: 900;
}

.normalbtn {
	padding: 12px 18px;
	border-radius: var(--base-border-radius);
	background: none;
	font-size: 14px;
	font-weight: 900;
	border: 2px solid rgb(172, 66, 0);
}

.normalbtn:hover {
	background-color: black;
	color: white;
	border-color: white;
	cursor: pointer;
}

.normalbtn:active {
	border-color: black;
	color: black;
	background-color: white;
	cursor: default;
}

.normalA {
	padding: 6px 12px;
	border-radius: var(--base-border-radius);
	background: none;
	font-size: 14px;
	font-weight: 900;
	text-decoration: underline;
	color: #9a00a5;
}

.normalA:hover {
	color: #d400e3;
	cursor: pointer;
}

main {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: stretch;
	text-align: center;
}

#GameVue {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	gap: 20px;
}

#nameThePlayer {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: center;
}

.NeedName {
	flex-direction: column;
	align-items: center;
}

#otherPlayer {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 12px;
	padding: 10px 32px;
}

#gameActive {
	display: flex;
	flex-direction: row;
	align-items: start;
	justify-content: space-between;
	gap: 20px;
}

#piocheEtDefause {
	display: grid;
	grid-template-columns: 1fr 1fr;
	justify-content: stretch;
	align-items: stretch;
	padding: 24px;
	gap: 32px;
}

.pioche {
	border: none;
	border-radius: var(--base-border-radius);
	padding: 0;
	background: #b92f2f;
	transition: 0.6s;
	overflow: hidden;
	padding: 16px;
	height: 139px;
}

.pioche:hover {
	background-color: #b92f2f;
	color: none;
	border-color: none;
	cursor: pointer;
	rotate: -10deg;
}

.pioche:active {
	border-color: #b92f2f;
	color: none;
	background-color: none;
	cursor: default;
}

#tourDuJoueur {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	gap: 12px;
	padding: 24px 32px;
}

.player {
	background-color: wheat;
	display: flex;
	align-items: stretch;
	justify-content: center;
	gap: 8px;
}

.defause:active {
	opacity: 1;
}

.defause:hover {
	cursor: default;
}

.card {
	object-fit: cover;
	padding: 12px;
	display: grid;
	grid-template-rows: 1fr 1fr 1fr;
	padding: 16px;
	border-radius: 16px;
	background-color: rgb(44, 44, 44);
	gap: 10px;
}

.card:active {
	opacity: 0.6;
}

/*
	rgb(44, 44, 44)     black
	rgb(216, 52, 18)    red
	rgb(0, 121, 207)    blue
	rgb(36, 215, 27)    green
	rgb(251, 227, 10)   yellow
*/
.card p {
	text-align: start;
	text-decoration: underline;
}

.card .right {
	text-align: start;
	rotate: 180deg;
}

.card p,
.card h3 {
	color: white;
  	font-family: "Shrikhand", serif;
	font-size: 20px;
}

.card h3 {
	margin: 0px 16px;
}

.CouleurChange {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 1fr);
	border-radius: 20px;
	overflow: hidden;
	border: 3px solid black;
	min-width: 100px;
}

.CouleurChange:active {
	opacity: 0.6;
}

.couleurQuart {
	border: 1px solid black;
}

.card-pioche h3 {
	color: rgb(255, 255, 0);
	margin: 0px 16px;
  	font-family: "Shrikhand", serif;
}

.card-pioche {
	display: flex;
	align-items: center;
	justify-content: center;
	background: #b92f2f;
}

.peupas {
	opacity: 0.4;
}

.boom {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 16px;
	flex-direction: column;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: black;
	border: none;
	color: rgb(255, 255, 255);
	font-size: 64px;
	text-align: center;
}

.boom span {
	color: rgb(255, 255, 255);
}

.boom:hover {
	cursor: pointer;
}